<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="" content="">
  <title>Text</title>
  <style type="text/css" media="all">
  .form{
    display: flex;
    flex-direction: column;
  }
    
  </style>
</head>
<body>
  
  <form action="/analyzed" method="get" class="form">
    <textarea name="text" rows="8" cols="40"></textarea><br>
    <input type="checkbox" name="removepunc" id="" />Remove Punctuation</inpu>
    <input type="checkbox" name="fullcaps" id="" />UpperCase
    <input type="submit" name="" id="" value="Submit" />
  </form>

</body>
</html>